* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Serif", serif;
}
.container {
  max-width: 1140px;
  margin: auto;
}
img {
  max-width: 100%;
}
.flex {
  display: flex;
}

/* customs styles */
/* navbar */
.navbar {
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin-top: 25px;
}
.links {
  gap: 48px;
}
.nav-right {
  gap: 48px;
}
.links li {
  list-style: none;
}
.links a {
  text-decoration: none;
  color: #252432;
  font-weight: 700;
}
.links .shop {
  color: #8987a1;
  font-weight: 500;
}
.links .about {
  color: #8987a1;
  font-weight: 500;
}

/* banner styles */
.banner {
  align-items: end;
  justify-content: center;
  margin-top: 120px;
}
.banner-title {
  font-size: 4rem;
  font-weight: bold;
}
.banner-left {
  flex: 1;
  justify-content: flex-end;
}
#clr-title {
  color: #e95a08;
}
.banner-left p {
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.5);
}
.banner-right {
  flex: 1;
  justify-content: space-between;
}

/* card section styles */
.plants-title #our {
  color: #e95a08;
}
.plants-title {
  font-size: 50px;
  text-align: center;
}
.our-plants p {
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
.our-plants {
  margin-top: 120px;
}

/* card styles */
.card {
}
.card h3 {
  font-size: 1.3rem;
  font-weight: 500;
  margin-top: 15px;
}
.card h4 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 10px;
}
.plants-card {
  margin-top: 50px;
  text-align: center;
}
.btn-primary {
  background-color: #e95a08;
  padding: 19px 80px;
  border: none;
  margin-top: 15px;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 30px;
}
.plants-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
/* trusted styles */
.flower-plants {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  margin-top: 150px;
  margin-bottom: 135px;
  position: relative;
}
.badge {
  width: 280px;
  height: 280px;
  position: absolute;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.574));
  left: 350px;
  bottom: 440px;
}
.trusted-right ul {
  width: 100%;
}
.trusted-right {
  flex: 1;
}
.trusted-left {
  flex: 1;
}
.trusted-right h1 {
  font-size: 3.1rem;
  margin-bottom: 20px;
}
.trusted-right ul {
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.5);
}

/* Latest Deals styles */
.deals-content #Latest {
  color: #e95a08;
}
.deals-content h1 {
  font-size: 3.1rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 16px;
}
.deals-content p {
  font-size: 1.3rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 7.5rem;
}
.left {
  margin-bottom: 80px;
}

.left-top {
  position: relative;
  width: 100%;
  height: 206px;
}
.left-top img {
  filter: brightness(60%);
  border-radius: 14px;
}
.left-top h3 {
  position: relative;
  color: rgb(255, 255, 255);
  bottom: 150px;
  font-size: 20px;
  font-weight: bold;
  padding-left: 70px;
}
.left-top a {
  position: relative;
  color: rgb(255, 255, 255);
  bottom: 130px;
  font-size: 1rem;
  font-weight: 600;
  padding-left: 140px;
}
.left-bottom {
  height: 197px;
}
.left-bottom img {
  filter: brightness(60%);
  border-radius: 14px;
  margin-top: 10px;
}
.left-bottom h3 {
  position: relative;
  color: rgb(255, 255, 255);
  bottom: 150px;
  font-size: 20px;
  font-weight: bold;
  padding-left: 70px;
}
.left-bottom a {
  position: relative;
  color: rgb(255, 255, 255);
  bottom: 130px;
  font-size: 1rem;
  font-weight: 600;
  padding-left: 140px;
}
.right {
  position: relative;
  flex: 1;
}
.right img {
  filter: brightness(60%);
  border-radius: 14px;
  margin-top: 25px;
}
.right h3 {
  position: relative;
  color: rgb(255, 255, 255);
  bottom: 270px;
  font-size: 40px;
  font-weight: bold;
  padding-left: 165px;
}
.right a {
  position: relative;
  color: rgb(255, 255, 255);
  bottom: 250px;
  font-size: 28px;
  font-weight: 600;
  padding-left: 310px;
}
.flower-shop-now {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
}
/* join email */
.email-content {
  position: relative;
  text-align: center;
  top: 190px;
}
.news-section {
  background-image: url(./assets/news-letter-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 533px;
}

.email-content h1 {
  font-size: 3.12rem;
  color: white;
}
#email {
  padding: 19px 540px 19px 20px;
}
.email-content .btn-primary-subs {
  padding: 17px 54px 17px 54px;
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  background-color: #e95a08;
}
.input-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-btn input {
  border: none;
}

/* Footer section */
.logo-footer {
  margin-top: 0px;
}
.logo-footer img {
  margin-bottom: 16px;
}

.logo-footer p {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
}
.home-footer ul a {
  color: #6b7280;

  text-decoration: none;
  list-style: none;
}
.home-footer li {
  list-style: none;
  margin-bottom: 32px;
}
.features-footer li {
  list-style: none;
  margin-bottom: 32px;
}
.features-footer ul a {
  color: #6b7280;
  text-decoration: none;
  list-style: none;
}
.social-footer {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 24px;
  height: fit-content;
}
.footer-section {
  display: flex;
  justify-content: space-evenly;
  gap: 110px;
  margin-top: 50px;
}

/* Responsive for mobile */
@media screen and (max-width: 768px) {
  .navbar,
  .banner-left {
    margin: 0 10px;
  }
  .nav-left img {
    margin-top: 13px;
  }
  .Latest-Deals {
    margin: 0 10px;
    margin-top: 140px;
  }
  .our-plants {
    margin: 65px 10px;
  }
  .nav-right .links {
    display: none;
  }
  .banner {
    flex-direction: column-reverse;
  }
  .banner-title {
    font-size: 24px;
    margin-top: 28px;
    margin-bottom: 13px;
  }
  .banner-left p {
    font-size: 14px;
  }
  .plants-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .btn-primary {
    padding: 15px 32px;
    font-size: 15px;
    margin-bottom: 30px;
  }
  .card h3 {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 5px;
  }
  .card h4 {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 5px;
  }
  .plants-title {
    font-size: 24px;
    font-weight: bold;
  }
  .plants-info {
    font-size: 14px;
    text-align: center;
  }
  .our-plants .plants-info {
    font-size: 14px;
    text-align: center;
  }
  .badge {
    display: none;
  }
  .flower-plants {
    flex-direction: column;
    margin: 20px 10px;
    gap: 1px;
  }
  .trusted-right h1 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 0px;
    text-align: center;
  }
  .trusted-left img {
    margin-bottom: 0px;
  }
  .trusted-right ul {
    font-size: 14px;
  }
  .flower-shop-now {
    flex-direction: column;
    gap: 1px;
  }
  .right {
    width: 365px;
    height: 172px;
    margin: 0;
  }
  .right img {
    margin-top: 0px;
  }
  .right h3 {
    position: relative;
    color: rgb(255, 255, 255);
    bottom: 150px;
    right: 80px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }
  .right a {
    position: relative;
    color: rgb(255, 255, 255);
    bottom: 130px;
    font-size: 16px;
    font-weight: 500;
    padding-left: 150px;
  }
  .deals-content h1 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
  .deals-content p {
    font-size: 14px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 51px;
  }
  .left-bottom img {
    margin-top: 20px;
  }
  .left-bottom h3 {
    font-size: 18px;
    font-weight: bold;
    padding-left: 90px;
  }
  .left-top h3 {
    font-size: 18px;
    font-weight: bold;
    padding-left: 80px;
  }
  .left {
    margin-bottom: 45px;
  }

  .email-content h1 {
    font-size: 20px;
  }
  #email {
    padding: 13px 14px 13px 15px;
  }
  .email-content .btn-primary-subs {
    padding: 12px 12px 12px 12px;
    font-size: 15px;
    font-weight: 600;
  }
  .news-section {
    background-image: url(./assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 275px;
  }
  .email-content {
    text-align: center;
    top: 90px;
  }
  .footer-section {
    flex-direction: column;
    margin: 50px 10px;
    gap: 5px;
  }
  .home-footer {
    margin-top: 20px;
  }
}
