* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Serif", serif;
}
.container {
  max-width: 1140px;
  margin: auto;
}
img {
  max-width: 100%;
}
.flex {
  display: flex;
}

/* customs styles */
/* navbar */
.navbar {
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin-top: 25px;
}
.links {
  gap: 48px;
}
.nav-right {
  gap: 48px;
}
.links li {
  list-style: none;
}
.links a {
  text-decoration: none;
  color: #252432;
  font-weight: 700;
}
.links .shop {
  color: #8987a1;
  font-weight: 500;
}
.links .about {
  color: #8987a1;
  font-weight: 500;
}

/* banner styles */
.banner {
  align-items: end;
  justify-content: center;
  margin-top: 120px;
}
.banner-title {
  font-size: 4rem;
  font-weight: bold;
}
.banner-left {
  flex: 1;
  justify-content: flex-end;
}
#clr-title {
  color: #e95a08;
}
.banner-left p {
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.5);
}
.banner-right {
  flex: 1;
  justify-content: space-between;
}

/* Responsive for mobile */
@media screen and (max-width: 768px) {
  body {
    margin: 0 10px;
  }
  .nav-right .links {
    display: none;
  }
  .banner {
    flex-direction: column-reverse;
  }
  .banner-title {
    font-size: 24px;
    margin-top: 28px;
    margin-bottom: 13px;
  }
  .banner-left p {
    font-size: 14px;
  }
}
